header a.logo img { max-height: 100px; }

.logo img { padding: 15px 0; }

.bg-primary-opacity { background-color: rgb(254, 221, 4, 0.85); }

.bg-primary { background-color: rgb(254, 221, 4); }

.feature-box:before, .feature-box .content:before, .feature-box:after, .feature-box .content:after {
    display: inline-block;
    position: absolute;
    content: "";
    background-color: rgb(254, 221, 4);
    z-index: 1;
}

.header-social-icon { padding-left: 0px; }

.text-primary { color: #fedd04; }

.text-dark-blue { color: #000042; }

.custom-a:hover, .custom-a:active { color: #000 }

.feature-box-16 .feature-box-content { height: 100px; }

.feature-box-16 img { max-width: 500px; height: 350px; }

.btn.btn-yellow { background: #fedd04; color: #000 }

.btn.btn-yellow:hover, .btn.btn-yellow:focus { background: #f0c506; color: #000 }

.border-header { border-radius: 50px 0px 0px 0px; }

.text-secondary { color: #c9a400; }

.text-25px { font-size: 25px; }
.text-logo-large { font-size: 30px; }

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.navbar-default, .bg-blue { background-color: #000042; }
.bg-dark-blue { background-color: #0f243e; }

.twitter-timeline {
    max-width: 100%;
    max-height: 550px;
  }
  .fa {
    font-size: 25px;
    color: #FFFFFF;
  }
  .panel-title {
   font-size: 25px; 
   color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;
  }
  .panel-heading {
   background-color: #0f243e !important;
   color: red !important;
  }
  .panel {
   margin-top: 25px;
  }